/*
font-family: 'Amaranth', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
*/
html {
     height: 100%;
}
body {
    height: 100%;
}
.page{
    height: 100%;
}
h3{
  font-family: 'Amaranth', sans-serif;
  font-weight: bold;
  color: #006600;
  font-size: 36px;
  margin-top: 0px;
}
h4{
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #333333;
  font-size: 24px;
  line-height: 1.5;
}
p{
  font-family: 'Lato', sans-serif;
  color: #333333;
  font-size: 18px;
}
.contactform label{
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
}
ul li{
  font-family: 'Lato', sans-serif;
  color: #333333;
  font-size: 18px;
}
.modal-dialog {
    width: 93vw;

}
.modal-body {
    min-height: 100vh;
}
.modal-content {
     border: 0px;
     border-radius: 0px;
}
.modal h3{
  color: #333333;
}
.modal h4{
  font-size: 18px;
}
.modal i{
  color: #ff6600;
  cursor: pointer;
}
.linea{
  background: #ff6600;
  position: absolute;
  height: 5px;
  width: 60px;
  top: -2px;
  left: 0px;
}
.btn{
  font-family: 'Amaranth', sans-serif;
}
.btn-primary{
  background: #ff6600;
  color: #fff;
  border-color: #ff6600;
  font-weight: normal;
}
.btn-primary:hover {
    color: #fff;
    background-color: #006600;
    border-color: #006600;
}
.menu{
  background: #006600;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 80px;
  cursor: pointer;
}
.barra{
  position: fixed;
  z-index: 9;
  background: #fff;
  width: 100%;
}
.barra .container-fluid,.barra .container-fluid .row,.barra .container-fluid .row .columna{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
/*.seccion .container-fluid, .seccion .container-fluid .row, .seccion .container-fluid .row .fondo{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}*/


.entrada .fondo{
  background: url(../images/entrada.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.cuadroblanco{
  bottom: 0;
  position: absolute;
  background: #fff;
  padding: 80px 60px 80px 60px;
}

.diferentes .fondo{
  background: url(../images/diferentes.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.entrenamiento .fondo{
  background: url(../images/entrenamiento.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.frases .fondo{
  background: url(../images/frases.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}
.contacto .fondo{
  background: url(../images/contacto.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.about .fondo{
  background: url(../images/about.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.team .fondo{
  background: url(../images/01_MODULO_W_P04.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: top center;
}
.about2 .fondo{
  background: url(../images/about2.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: left;
  padding-left: 30px;
  padding-right: 30px;
}
.about3 .fondo{
  background: #f5f5f5;
  width: 100%;

  padding-top: 12vh;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 12vh;
}
.about4 .fondo{
  background: #fff;
  width: 100%;

  padding-top: 12vh;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 12vh;
}
.servicios .fondo{
  background: #f4f4f4;
  width: 100%;
  /*height: 100vh;*/
  padding-top: 12vh;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 12vh;
}
.maqueta .fondo{
  background: #f4f4f4;
  width: 100%;
  /*height: 100vh;*/
      padding-top: 12vh;
  padding-left: 30px;
  padding-right: 30px;
      padding-bottom: 12vh;
}

.servicios1 .fondo{
  background: url(../images/servicios1.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: right;
}
.servicios2 .fondo{
  background: url(../images/servicio2.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: right;
  padding-left: 30px;
  padding-right: 30px;
}
.servicios3 .fondo{
  background: #fff;
  width: 100%;
  padding-top: 12vh;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 12vh;
}
.training1 .fondo{
  background: url(../images/01_MODULO_W_P07.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}

.training2 .fondo{
  background: url(../images/02_MODULO_W_P07.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}
.training3 .fondo{
  background: url(../images/03_MODULO_W_P07.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}


.contactform{
  width: 100%;

  padding-top: 12vh;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 12vh;
}

.ourteam{
  width: 100%;

  padding-top: 12vh;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 12vh;
}
.servicionums .fondo{
  background: #f4f4f4 !important;
  padding-left: 80px;
  padding-right: 80px;
}

.footer{
  background: #333333;
  padding: 12vh;
}
.footer h3{
  color: #fff;
  font-family: 'Merriweather', sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.footer p a{
  color: #7e7e7e;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 2;
}
.footer p a i{
  color: #fff;
  font-weight: bold;
  line-height: 2;
  padding-right: 20px;
}
.servicios .servicio {
  border-top: 7px solid #ff6600;
}
.servicio .numero{
  font-family: 'Amaranth', sans-serif;
  font-weight: bold;
  color: #666666;
  float: left;
}
.maqueta .servicio .numero, .maqueta .servicio .texto{

  color: #333333;
}
.servicio .texto{
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #333333;
  float: right;
}

.servicio .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ff6600;
  overflow: hidden;
  width: calc(100% - 30px);
  height: 0;
  transition: .5s ease;
  z-index: 9999;
  color: #fff;
  margin-left: 15px;
}

.servicio:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {

  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  padding: 0 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.text p{

  color: white;
}
.frases .carousel .item .col-md-6 h2{
  font-family: 'Amaranth', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 40px;
  margin-top: 40vh;
  text-align: right;
}
.lineablanca{
  background: #fff;
  height: 7px;
  width: 80px;

}

.maqueta .servicio{
  cursor: pointer;
  display: inline-block;
}
.maqueta .servicio .numero{
  line-height: 1;
  font-size: 70px;
}
.maqueta .servicio .texto{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600 !important;
}
.maqueta .servicio .linea {

  -webkit-transition: width 0.5s !important; /* Safari */
    transition: width 0.5s !important;
    width: 65px !important;
}
.maqueta .servicio:hover .linea {
  width: 100% !important;
}


@media (max-width: 414px) {

  .about3 .servicio .texto {
    margin-top: 8% !important;
}
.servicionums .fondo {
     padding-left: 30px;
     padding-right: 30px;
}
.servicio.grande{
    padding-top: 5%;
}
.servicio.chico{
  height: 264px; padding-top: 5%;
}
}



@media (max-width: 320px) {
  .servicios .fondo {
     padding-left: 0px;
     padding-right: 0px;
  }
  .about3 .servicio .texto {
    margin-top: 11% !important;
}
}
.servicios3 .servicio .overlay {
    width: 100%;
    margin-left: 0px;
}
@media (min-width: 766px) {
  .servicio.grande{
     padding-top: 5%;
  }
}
.servicio.grande,.servicio.chico  {
   cursor: pointer;
}

@media (max-width: 766px) {
  .team1 .fondo {
    height: 125vh !important;
}
.team4 .fondo {
  height: 125vh !important;
}
.modalteams .cuadroblanco {
     position: inherit;
     padding: 15px;
}

.cuadroblanco {
     position: inherit;
     padding: 70px 15px;
}
.contacto .fondo {
     height: fit-content !important;
}
.page.inicial .fondo {
     height: fit-content !important;
}
.page.inicial .btn-primary {
    margin-top: -25px !important;
}
  .team .fondo{
    height: 50vh !important;
    background-position: top center;
  }
  .servicios1 .fondo{

    height: 50vh !important;
    background-position: left;
  }
  .about .fondo{

    height: 50vh !important;
  }
  h3{
    font-size: 30px;
  }
  h4{
    font-size: 18px;
  }
  p{
    font-size: 16px;
  }
  .servicio .texto{
    font-size: 20px;
  }
  .servicio .numero{
    font-size: 75px;
  }
  .servicio {
    min-height: 165px;
    padding-top: 4%;
  }
  .frases .carousel .item .col-md-6 h2{
    font-size: 30px;
  }
  .footer {
    padding: 8vh 2vw 8vh 2vw !important;
}
.about4 .letra {
    font-size: 60px;
}
.about4 .letra span {
font-size: 15px;
}
.servicio .texto{
margin-top: 7%;
}

.about4 .letra {

    padding: 0px !important;
}
.servicionums .letra img {
    max-width: 60px;
    margin-top: 0px;
}
.servicionums .ico3 img {
    max-width: 28px;
    margin-top: 0px;
}
.search {
  overflow: auto;
}
.contacto .imgcierto{
  padding: 50px 0;
}
.logo img{
  max-width: 120px;
}
}

@media (min-width: 767px) {
  .logo img{
    max-width: 120px;
    margin-left: 1vw;
  }
.contacto .imgcierto{
  position: absolute; bottom: 55vh; width: 100%;
}
  .about4 .letra {

      padding: 0px !important;
  }
  .servicionums .letra img {
      max-height: 62px;

  }
  .servicio .texto{
    font-size: 20px;
  }
  .servicio .numero{
    font-size: 75px;
  }
  .servicio {
    min-height: 165px;
    padding-top: 7%;
  }
  .about4 .letra {
  font-size: 100px;
  }
  .about4 .letra span {
  font-size: 26px;
  }
  .about4 .texto{
    top: 50%;
    -webkit-transform: translateY(38%);
    -ms-transform: translateY(38%);
    transform: translateY(38%);
  }
  .servicio .texto{
  margin-top: 12%;
  }
  .servicionums .texto{
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);

  }
  .servicios3 .texto {
    margin-top: 6% !important;
}
}


@media (min-width: 992px) {
  .servicionums .letra img{
    max-height: 65px;
    margin-top: -15px;
  }
  .servicio .texto{
    font-size: 20px;
  }
  .servicio .numero{
    font-size: 75px;
  }
  .servicio {
    min-height: 165px;
  }
  .servicio .texto {
    margin-top: 8%;
}
}


@media (min-width: 1150px) {
  .servicio .texto{
    font-size: 30px;
  }
  .servicio .numero{
    font-size: 100px;
  }
  .servicio {
    min-height: 230px;
  }
  .logo img{
    max-width: 120px;
    margin-left: 1vw;
  }
}

.about4 .letra {
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
    color: #666666;
    float: left;
    margin-top: 20px;
    line-height: 0.3;

    padding: 10px 0 0 25px;
}
.about4 .letra span {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: #333333;

    line-height: 0.5 !important;
}

.search{

    padding: 30px 0;
    padding-left: 25px;
    border-left: 10px solid #ff6600;
    margin-top: 70px;
margin-bottom: 70PX;
}
.about4 .texto {
  position: relative;

}


/* The Overlay (background) */
.menu .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 99999999999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #333333; /* Black fallback color */
    background-color: #333333; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
		color: #fff;
}

/* Position the content inside the overlay */
.menu .overlay-content {
    position: relative;
     /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.menu .overlay a {
    padding: 8px 50px 8px 0;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    text-align: left;
    font-family: 'Merriweather', sans-serif;
    transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
.menu .overlay a:hover{
    color: #ffcc00;
    margin-left: 50px;
}

/* Position the close button (top right corner) */
.menu .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .menu .overlay a {font-size: 20px}
    .menu .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}
.menu{
  font-family: 'Amaranth', sans-serif;
  font-weight: bold;
}
.tp-banner-container {
    width: 100% !important;
    left: 0px !important;
}
.infografia{
  padding: 12vh 0 12vh 0;
  background: #e2e2e2;
}
.privacy{
  padding: 12vh 0 12vh 0;
  background: #fff;
}
.textabout2{
  margin-top: 50vh;
}
.textabout2 h4{
  color: #fff !important;
  font-weight: 800;
    font-style: italic;
}

.about3 .servicio{
      border-top: 7px solid #ff6600 !important;
}
.servicios3 .servicio{
      border-top: 7px solid #ff6600 !important;
}

.servicionums .letra p{
  display: block;
    font-weight: normal !important;
    margin-top: 13% !important;
    line-height: 1.4 !important;
}

.maqueta .numero span{
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #333333;
  font-size: 26px;
  margin-left: -6px;
}

.ourteam h4 {
    color: #fff;
    position: absolute;
    top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.modalteams i{
  position: absolute;
    z-index: 99999;
    color: #fff;
    top: 30px;
}
#modalteam1 i, #modalteam3 i{
  right: 30px;
}
#modalteam2 i, #modalteam4 i{
  left: 30px;
}
.modalteams .modal-body{
  padding: 0px;
}
.modalteams .modal-dialog {
    width: 100vw;
    margin: 0px;
}

.team1 .fondo{
  background: url(../images/04_MODULO_JOE.jpg) no-repeat center center;
  background-size: cover;
  background-position: top left;
  width: 100%;
  height: 100vh;
}
.team2 .fondo{
  background: url(../images/04_MODULO_CESAR.jpg) no-repeat center center;
  background-size: cover;
  background-position: top right;
  width: 100%;
  height: 100vh;
}
.team3 .fondo{
  background: url(../images/04_MODULO_AXEL.jpg) no-repeat center center;
  background-size: cover;
  background-position: top left;
  width: 100%;
  height: 100vh;
}
.team4 .fondo{
  background: url(../images/04_MODULO_NORMA.jpg) no-repeat center center;
  background-size: cover;
  background-position: top right;
  width: 100%;
  height: 100vh;
}


.modalteams.modal h4{
  font-size: 24px !important;
}
.modalteams .linea {
    top: -5px;
}
.ourteam img{
  cursor: pointer !important;
}
.separadorgris{
  background: #f3f3f3;
    width: calc(100% + 60px);
    height: 5px;
    margin-left: -30px;
}
.separadorblanco {
    background: #fff;
    width: calc(100% + 160px);
    height: 5px;
    margin-left: -80px;
}

.servicio3 .servicio .overlay {
    width: 100%;
    margin-left: 0px;
}
.maque .fa-times{
  z-index: 9999999999 !important;
    position: relative !important;
}


/* NAVIGATION */
nav {
  margin: 0 auto;
}
nav ul {
  list-style: none;
  text-align: center;
  display: inline-block;
  margin: 5px 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #999999;
  margin: 0 10px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: normal;

}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
  text-decoration: none;
}

/* Circle */
nav.circle ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.circle ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.circle ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}
/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #ccc;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}
.cuadrito{
    height: 100%;
    position: absolute;
    width: 20px;
    background: #006600;
    margin-left: -15px;
}
.overlay-content .dropdown-menu{
  background: transparent;
  border: 0;
  box-shadow: none;
}
.overlay-content li{
  list-style: none;
}

.dropdown-menu>li>a:hover {

    text-decoration: none;
    background-color: transparent;
}
