/*
font-family: 'Amaranth', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
*/
html {
     height: 100%;
}
body {
    height: 100%;
}
.page{
    height: 100%;
}
h3{
  font-family: 'Amaranth', sans-serif;
  font-weight: bold;
  color: #006600;
  font-size: 36px;
  margin-top: 0px;
}
h4{
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #333333;
  font-size: 26px;
  line-height: 1.5;
}
p{
  font-family: 'Lato', sans-serif;
  color: #333333;
  font-size: 18px;
}

ul li{
  font-family: 'Lato', sans-serif;
  color: #333333;
  font-size: 18px;
}
.modal-dialog {
    width: 93vw;

}
.modal-body {
    min-height: 100vh;
}
.modal-content {
     border: 0px;
     border-radius: 0px;
}
.modal h3{
  color: #333333;
}
.modal h4{
  font-size: 18px;
}
.modal i{
  color: #ff6600;
  cursor: pointer;
}
.linea{
  background: #ff6600;
  position: absolute;
  height: 10px;
  width: 60px;
  top: -10px;
  left: 0px;
}
.btn{
  font-family: 'Amaranth', sans-serif;
}
.btn-primary{
  background: #ff6600;
  color: #fff;
  border-color: #ff6600;
  font-weight: lighter;
}
.menu{
  background: #006600;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 80px;
}
.barra{
  position: fixed;
  z-index: 9;
  background: #fff;
  width: 100%;
}
.barra .container-fluid,.barra .container-fluid .row,.barra .container-fluid .row .columna{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.seccion .container-fluid, .seccion .container-fluid .row, .seccion .container-fluid .row .fondo{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.logo img{
  max-width: 120px;
  margin-left: -2vw;
}
.entrada{
  height: 100%;
}
.entrada .fondo{
  background: url(../images/entrada.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.cuadroblanco{
  bottom: 0;
  position: absolute;
  background: #fff;
  padding: 80px 60px 80px 60px;
}

.diferentes .fondo{
  background: url(../images/diferentes.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.entrenamiento .fondo{
  background: url(../images/entrenamiento.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.frases .fondo{
  background: url(../images/frases.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: left;
}
.contacto .fondo{
  background: url(../images/contacto.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.servicios .fondo{
  background: #f4f4f4;
  width: 100%;
  /*height: 100vh;*/
  padding-top: 12vh;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 12vh;
}
.maqueta .fondo{
  background: #f4f4f4;
  width: 100%;
  /*height: 100vh;*/
      padding-top: 12vh;
  padding-left: 30px;
  padding-right: 30px;
      padding-bottom: 12vh;
}
.footer{
  background: #333333;
  padding: 12vh;
}
.footer h3{
  color: #fff;
  font-family: 'Merriweather', sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.footer p a{
  color: #7e7e7e;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 2;
}
.footer p a i{
  color: #fff;
  font-weight: bold;
  line-height: 2;
  padding-right: 20px;
}
.servicios .servicio {
  border-top: 7px solid #ff6600;
}
.servicio .numero{
  font-family: 'Amaranth', sans-serif;
  font-weight: bold;
  color: #666666;
  float: left;
}
.maqueta .servicio .numero, .maqueta .servicio .texto{

  color: #333333;
}
.servicio .texto{
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #333333;
  float: right;
  margin-top: 25px;
}

.servicio .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ff6600;
  overflow: hidden;
  width: calc(100% - 30px);
  height: 0;
  transition: .5s ease;
  z-index: 9999;
  color: #fff;
  margin-left: 15px;
}

.servicio:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {

  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.text p{

  color: white;
}
.frases .carousel .item .col-md-6 h2{
  font-family: 'Amaranth', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 40px;
  margin-top: 40vh;
  text-align: right;
}
.lineablanca{
  background: #fff;
  height: 7px;
  width: 80px;

}

.maqueta .servicio{
  cursor: pointer;
  display: inline-block;
}
.maqueta .servicio .numero{
  line-height: 1;
  font-size: 70px;
}
.maqueta .servicio .texto{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600 !important;
}
.maqueta .servicio .linea {

  -webkit-transition: width 1s !important; /* Safari */
    transition: width 1s !important;
    width: 65px !important;
}
.maqueta .servicio:hover .linea {
  width: 100% !important;
}


.servicio.maqueta1{
    position: absolute;

}

.servicio.maqueta2{
    position: absolute;

}
.servicio.maqueta3{
    position: absolute;

}
.servicio.maqueta4{
    position: absolute;

}



@media (max-width: 766px) {
  h3{
    font-size: 30px;
  }
  h4{
    font-size: 18px;
  }
  p{
    font-size: 16px;
  }
  .servicio .texto{
    font-size: 20px;
  }
  .servicio .numero{
    font-size: 75px;
  }
  .servicio {
    min-height: 165px;
  }
  .frases .carousel .item .col-md-6 h2{
    font-size: 30px;
  }
  .footer {
    padding: 1vh !important;
}
}

@media (min-width: 767px) {
  .servicio .texto{
    font-size: 20px;
  }
  .servicio .numero{
    font-size: 75px;
  }
  .servicio {
    min-height: 165px;
  }
}


@media (min-width: 992px) {
  .servicio .texto{
    font-size: 20px;
  }
  .servicio .numero{
    font-size: 75px;
  }
  .servicio {
    min-height: 165px;
  }
}


@media (min-width: 1150px) {
  .servicio .texto{
    font-size: 30px;
  }
  .servicio .numero{
    font-size: 100px;
  }
  .servicio {
    min-height: 230px;
  }
  .logo img{
    max-width: 120px;
    margin-left: -3vw;
  }
}


/* The Overlay (background) */
.menu .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 99999999999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #EF7E19; /* Black fallback color */
    background-color: #EF7E19; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
		color: #fff;
}

/* Position the content inside the overlay */
.menu .overlay-content {
    position: relative;
     /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.menu .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.menu .overlay a:hover, .overlay a:focus {
    color: #e0e0e0;
}

/* Position the close button (top right corner) */
.menu .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .menu .overlay a {font-size: 20px}
    .menu .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.menu{
  font-family: 'Amaranth', sans-serif;
  font-weight: bold;
}
